@use "Mixins" as *;
@use "Variables" as v;

@font-face {
    font-family: "Reenie";
    src: url('./fonts/ReenieBeanie-Regular.ttf') format('truetype'), url('./fonts/reeniebeanie-regular-webfont.woff2') format('woff2'),
    url('./fonts/reeniebeanie-regular-webfont.woff') format('woff');;
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: calc(16px - (2000px - 100vw)/400);
}

body {
    background-color: black;
    @include flex(column, center, center);
}

.app-container {
    background-color: v.$light-red;
    border: .25rem solid v.$dark-red;
    border-radius: 1rem;
    width: 60vw;
    min-width: 25rem;
    @include flex(column, center, center);
    padding: 1rem;
    margin-top: 4rem;
}

.title {
    @include text-styles(5rem, 500);
    font-family: Reenie, Arial, Helvetica, sans-serif;
    margin: 0;
}

.timer-app-container {
    background-color: v.$light-green;
    border: .15rem solid v.$dark-green;
    border-radius: .5rem;
    @include flex(column, center, space-between);
    width: 20vw;
    min-width: 15rem;
    padding: 0;
    margin: 0;
}

.rest {
    background-color: black;
}

.countdown-container {
    @include flex(column, center, space-between);
    padding: 0;
    margin: 0;
}

.timer-label {
    @include text-styles(1rem, 500);
    color: white;
    margin: .5rem;
}

.countdown-timer {
    @include text-styles(5rem, 500);
    margin: 0;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: inset .2rem .2rem .2rem rgba($color: #000000, $alpha: 0.4);
}

.buttons-container {
    @include flex(row, center, space-around);
    width: 50vw;
    margin: 1rem;
}

.button {
    width: 100%;
    height: 4rem;
    margin: .25rem;
    @include text-styles(2rem, 500);
    border-radius: .5rem;
    color: white;
}

.start_stop {
    background-color: v.$light-green;
    border: .15rem solid v.$dark-green;
    transition: all 300ms ease;
    box-shadow: .2rem .2rem .2rem rgba($color: #000000, $alpha: 0.4);
    &:hover {
        transform: translateY(-.2rem);
        background-color: v.$dark-green;
        box-shadow: .3rem .3rem .3rem rgba($color: #000000, $alpha: 0.3);
    }
    &:active {
        transform: translateY(.1rem);
        background-color: white;
        box-shadow: none;
    }
}

.reset {
    background-color: v.$dark-red;
    border: .15rem solid v.$darker-red;
    transition: all 300ms ease;
    box-shadow: .2rem .2rem .2rem rgba($color: #000000, $alpha: 0.4);
    &:hover {
        transform: translateY(-.2rem);
        background-color: v.$darker-red;
        box-shadow: .3rem .3rem .3rem rgba($color: #000000, $alpha: 0.3);
    }
    &:active {
        transform: translateY(.1rem);
        background-color: white;
        box-shadow: none;
    }
}

.interval-controls-container {
    @include flex(row, center, space-between);
    width: 25vw;
    min-width: 35rem;
}

.time-container {
    @include flex(column, center, center);
}

.session-label {
    @include text-styles(2.5rem, 500);
    font-family: Reenie, Arial, Helvetica, sans-serif;
    margin: 0 0 .5rem 0;
}

.session-controls {
    @include flex(row, center, flex-end);
    width: 8rem;
    height: 4rem;
    padding: 0;
    background-color: white;
    border-radius: .5rem;
    box-shadow: inset .2rem .2rem .2rem rgba($color: #000000, $alpha: 0.4);
}

.session-value-display {
    @include text-styles(3rem, 500);
}

.increment-decrement-container {
    @include flex(column, center, space-between);
    padding: .5rem;
}

.session-increment {
    background-color: v.$darker-red;
    height: 1.5rem;
    width: 1.5rem;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    margin: .25rem;
    transition: all 250ms ease;
    &:hover {
        background-color: v.$dark-red;
    }
}

.session-decrement {
    background-color: v.$dark-green;
    height: 1.5rem;
    width: 1.5rem;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    margin: .25rem;
    transition: all 250ms ease;
    &:hover {
        background-color: v.$light-green;
    }
}

.audio-select {
    @include text-styles(1.5rem, 500);
    min-width: 12rem;
}

@media screen and (max-width: 1000px) {
    .buttons-container {
        flex-direction: column;
    }

    .interval-controls-container {
        flex-direction: column;        
    }
}